nav {

    background-color: black;

}

.titulonav {
    color: white;

    border: 1px;
    font-size: 1.5rem;
    margin: .3rem;
}




.coraje {
    width: 30rem;
    height: 37.5rem;
}

.d-grid {

    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    text-align: center;


}

.btn {
 background-color: #fa7c9c;
    border-color: #fa7c9c;
    color: black;
    font-weight: bold;
    width: 15rem;

}

.btn:hover {
    background-color: #f7a2b8;
    border-color: #f7a2b8;


}



.titulo {
    font-size: 300%;
    font-weight: bolder;
    border: .5rem solid #fa7c9c;
    border-radius: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;


}








a:link {

    display: flex;
    margin-top: .3rem;
}

.opciones {
    margin-top: .1px;
    /* border: 1px solid blue; */
}

.img-fluid {

    width: 2rem;

}

.text-body-secondary {
    height: 2rem;
    margin-bottom: .5rem;

}

.copy {
    height: 2rem;
    margin-top: .5rem;
    /* border: 1px solid green; */
}

/* footer{
border: 1px solid paleviolet    red;
padding: 0;
margin: 0 solid orange ;
} */
.container {

    margin-top: 1rem;
}

.datos {
    padding: 0rem;
    margin: 0;
    margin-top: 3rem;
    /* border: 1px solid palevioletred; */
}

.titulonav{
    margin-left: .5rem;
    margin-right: .5rem;
}