nav {

    background-color: black;

}

.ingreso {
    margin-top: 1rem;
}

.titulonav {
    color: white;
    /* text-align: left; */

    /* margin-left: .5rem;
    margin-right: .5rem; */


    border: 1px;
    font-size: 1.5rem;
    margin: .3rem;
}

.img-fluid {

    width: 2rem;

}

.datos {
    /* padding: 0rem;
    margin: 0; */
    display: flex;
    justify-content: center;
    margin: 20rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.form-control {

    width: 30rem;
}

.form-select {

    width: 30rem;
}

.submit {
    width: 30rem;
    margin-top: 1.5rem;
}

h3 {
    text-align: center;

}

.alerg {
    justify-content: space-evenly;
    font-size: medium;

    margin: 10px;
}

.volver {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;

}

.text-body-secondary {
    height: 2rem;
    margin-bottom: .5rem;

}

.container {

    margin-top: 1rem;
}

.btn {
    background-color: #fa7c9c;
    border-color: #fa7c9c;
    color: black;
    font-weight: bold;
    width: 15rem;


}

.btn:hover {
    background-color: #f7a2b8;
    border-color: #f7a2b8;


}

.d-grid {

    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    text-align: center;

}

#ingresar {

    width: 30rem;
}

#home {
    margin-right: 1rem;
    width: 14rem;
    font-weight: lighter;

}

#listado {
    margin-left: 1rem;

    width: 14rem;

    font-weight: lighter;
}

.duenioo {

    margin-bottom: 1rem;
}

.inp{margin-top: 1rem;}
