<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dueños - Estilo Perruno</title>
    <link rel="icon" th:href="@{/coraje_icon.png}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/duenioLista.css}">

</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <img class="img-fluid" th:src="@{/coraje_icon.png}" alt="icono coraje">
            <p class="titulonav" href="#">Estilo Perruno</p>




          

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">




                </ul>
               
                <form class="d-flex bus" action="/mascotas/traer" method="get">
                    <input name="id" class="form-control me-2" type="number" placeholder="Buscar por ID">

                    <button class="btn btn-outline-success " type="submit">Buscar</button>
                </form>

                <div class="botonav">
                    <a th:href="@{/index}"><button class="btn btn-outline-success">Volver a la home</button></a>
    
                </div>


            </div>
        </div>
    </nav>

   

    <div>
        <a th:href="@{/duenios/alta}"> <button>Crear Dueño</button></a>

    </div>


    <table class="table">
        <thead>
            <tr>

                <th>Id</th>
                <th>Nombre</th>
                <th>Celular</th>
                <th>Direccion</th>
                <th>Mascotas</th>
                <th colspan="2">Acciones</th>


            </tr>
        </thead>

        <tbody th:each="dueni:${duenios}">
            <tr>
                <th th:text="${dueni.id}"></th>
                <td th:text="${dueni.nombre}"></td>
                <td th:text="${dueni.celular}"></td>
                <td th:text="${dueni.direccion}"></td>



                <td>
                    <ul>

                        <li th:each="masco : ${dueni.mascotas}" th:text="${masco.nombre}"></li>
                        <span th:if="${dueni.mascotas == null or dueni.mascotas.isEmpty()}">(No tiene)</span>

                    </ul>


                </td>




                <td>
                    <a th:href="@{/duenios/editar/__${dueni.id}__}"><i></i>Modificar</a>
                </td>
                <td>
                    <a th:href="@{/duenios/borrar/__${dueni.id}__}"><i></i>Borrar</a>
                </td>


            </tr>
        </tbody>
    </table>

   
    <div class="container">

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top">

            <div class="col-md-4 d-flex align-items-center">

                <span class="copy ">© 2023 Esteban Cardozo</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">


                <li class="ms-3">
                    <a href="https://www.linkedin.com/in/esteban-cardozo19/" target="_blank"><img
                            th:src="@{linkedin.svg}" alt="Linkedin" class="text-body-secondary"></a>
                </li>
                <li class="ms-3">
                    <a href="https://github.com/EstebanCardoz0" target="_blank"><img th:src="@{github.svg}" alt="Github"
                            class="text-body-secondary"></a>
                </li>
                <li class="ms-3">
                    <a href="mailto:esteban.cardozo.wec@gmail.com" target="_blank"><img th:src="@{envelope-at-fill.svg}"
                            alt="Mail" class="text-body-secondary"></a>
                </li>


            </ul>

        </footer>

    </div>
</body>

</html>