<!DOCTYPE html>

<html>

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <h1>ESTE ES EL INDEX</h1>
    <div>
        <a th:href="@{/mascotas/listar}"><button>Listado de mascotas</button></a>
    </div>
    <div>
        <a th:href="@{/mascotas/alta}"><button>crear mascotas</button></a>
    </div>
    <div>
        <a th:href="@{/duenios/alta}"><button>crear dueños</button></a>
    </div>
    <div><a th:href="@{/duenios/listar}"><button>Listado de dueños</button></a></div>




</body>

</html>