<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas - Estilo Perruno</title>
    <link rel="icon" th:href="@{/coraje_icon.png}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/mascotaLista.css}">

</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top  ">
        <div class="container-fluid">
            <img class="img-fluid" th:src="@{/coraje_icon.png}" alt="icono coraje">
            <p class="titulonav" href="#">Estilo Perruno</p>






            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">




                </ul>

                <form class="d-flex bus" action="/mascotas/traer" method="get">
                    <input name="id" class="form-control me-2" type="number" placeholder="Buscar por ID">

                    <button class="btn btn-outline-success me-4" type="submit" id="busID">Buscar</button>
                </form>

                <div>
                    <a th:href="@{/mascotas/alta}"><button class="btn btn-outline-success">Crear mascota</button></a>
                </div>
                <div class="botonav">
                    <a th:href="@{/index}"><button class="btn btn-outline-success">Volver a la Home</button></a>

                </div>


            </div>
        </div>
    </nav>







    <table class="table table-hover table-bordered container-fluid  ">
        <thead>
            <tr class="cen">

                <th>ID</th>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Color</th>
                <th>Alergico</th>
                <th>Atención Especial</th>
                <th>Observaciones</th>
                <th>ID Dueño</th>
                <th>Dueño</th>
                <th colspan="2">Acciones</th>


            </tr>
        </thead>
        <tbody th:each="masco:${mascotas}" class="">
            <tr>
                <th class="cen" th:text="${masco.id}"></th>
                <td th:text="${masco.nombre}"></td>
                <td th:text="${masco.raza}"></td>
                <td th:text="${masco.color}"></td>
                <td class="cen" th:text="${masco.alergico}"></td>
                <td class="cen" th:text="${masco.atencionEspecial}"></td>
                <td th:text="${masco.observaciones}"> </td>



                <td class="cen">

                    <span th:if="${masco.duen != null}" th:text="${masco.duen.id}"></span>
                    <span th:if="${masco.duen == null}">(No tiene)</span>

                </td>
                <td>

                    <span th:if="${masco.duen != null}" th:text="${masco.duen.nombre}"></span>
                    <span th:if="${masco.duen == null}">(No tiene)</span>

                </td>



                <td class="cen">
                    <a th:href="@{/mascotas/editar/__${masco.id}__}"><i></i>Modificar</a>
                </td>
                <td class="cen">
                    <a th:href="@{/mascotas/borrar/__${masco.id}__}"><i></i>Borrar</a>
                </td>



            </tr>
        </tbody>
    </table>

    <div class="container">

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3  border-top">

            <div class="col-md-4 d-flex align-items-center">

                <span class="copy ">© 2023 Esteban Cardozo</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">


                <li class="ms-3">
                    <a href="https://www.linkedin.com/in/esteban-cardozo19/" target="_blank"><img
                            th:src="@{src/main/resources/static/linkedin.svg}" alt="Linkedin" class="text-body-secondary"></a>
                </li>
                <!--  -->
                <li class="ms-3">
                    <a href="https://www.linkedin.com/in/esteban-cardozo19/" target="_blank"><img
                            src="../static/linkedin.svg" alt="Linkedin" class="text-body-secondary"></a>
                </li>
                <!--  -->
                <li class="ms-3">
                    <a href="https://www.linkedin.com/in/esteban-cardozo19/" target="_blank"><img
                            th:src="@{linkedin.svg}" alt="Linkedin" class="text-body-secondary"></a>
                </li>
                <li class="ms-3">
                    <a href="https://github.com/EstebanCardoz0" target="_blank"><img th:src="@{github.svg}" alt="Github"
                            class="text-body-secondary"></a>
                </li>
                <li class="ms-3">
                    <a href="mailto:esteban.cardozo.wec@gmail.com" target="_blank"><img th:src="@{envelope-at-fill.svg}"
                            alt="Mail" class="text-body-secondary"></a>
                </li>


            </ul>

        </footer>

    </div>



</body>

</html>