<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Crear Mascota</title>
    </head>
    <body>


        <form style="max-width: 500pt;margin:  auto;margin-top: 2%;" class="formulario" action="/mascota/crear" method="POST">


            <div class="form-group my-3">
                <h3 class="card-title">Ingresá los datos de la mascota</h3>
            </div>

            <div class="form-group my-3">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" class="form-control" name="nombre" placeholder="Dylan">
            </div>
            <div class="form-group my-3">
                <label for="color">Color</label>
                <input id="color" type="text" class="form-control" name="color" placeholder="Toyota">
            </div>
            <div class="form-group my-3">
                <label for="raza">Raza</label>
                <input id="raza" type="text" class="form-control" name="raza" placeholder="blanco">
            </div>
            <div class="form-group my-3">
                <label>Alergico</label> <br>
                <label for="alergico">SI</label>
                <input id="alergico" type="radio" value="SI" class="form-control" name="alergico">
                <label for="alergic">NO</label>
                <input id="alergic" type="radio" value="NO" class="form-control" name="alergico">
            </div>
            <div class="form-group my-3">
                <label>Atención especial</label> <br>
                <label for="paten">SI</label>
                <input id="paten" type="radio" value="SI" class="form-control" name="atencionEspecial">
                <label for="pate">NO</label>
                <input id="pate" type="radio" value="NO" class="form-control" name="atencionEspecial">
            </div>
            <div class="form-group my-3">
                <label for="cantidadPuertas">Observaciones</label>
                <input id="cantidadPuertas" type="text" size="50" width="56" class="form-control" name="observaciones"
                       placeholder="blanco">
            </div>
            
            <!--            <div class="form-group my-3">
                            <label for="idDuenio">Dueño</label>
                            <input id="idDuenio" type="number" size="50" width="56" class="form-control" name="idDuenio"
                                   >
                        </div>-->


            <div>

                <label for="duenios">Dueño</label>
                <select id="duenios" name="duenio">
                    <option value="" disabled selected>Selecciona un dueño</option>
                    <!-- Iteramos directamente dentro del select para mostrar las opciones -->
                    <option th:each="duenio : ${duenios}" th:value="${duenio.id}" th:text="${duenio.nombre}"></option>
                </select>
            </div>


            <button style="color: black;background-color: orange;border-color: orange;" type="submit"
                    class="btn btn-primary mt-3 botones"><strong>Ingresar</strong></button>
        </form>
        <p th:if="${exito}" th:text="${exito}" style="color: green;"></p>

    </body>
</html>